@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Fira Sans", sans-serif;
   
}
#head-front{
    background: rgb(255, 255, 255);   
    margin-bottom: 0;
}
#head-front .heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between ; 
  align-items: center;
  padding: 24px 160px 24px 160px;
  left: 0;
  top: 0;
}
/*#head-front .heading {
    width: 116px;
    height: 52px;
    align-items: center;
    gap: 48;
    padding: 15px 30px 15px 30px;  
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px; 
    margin: 0px 10px;
}*/
#head-front .heading .btn{
   font-family: Fira Sans;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0%;
   padding: 10px 20px;
   align-items: center;
   color: rgb(0, 106, 80);
   font-size: 18px;
   background-color: #fff;
   box-sizing: border-box;
   border: 1px solid rgb(0, 106, 80);
   border-radius: 8px;
   cursor: pointer;
   transition: all 0.3s;
 
}
#head-front .heading .btn:hover {
    background-color: rgb(0, 106, 80);
    color: #fff;
  }
.banner{
    padding: 80px 100px 80px 100px;
    top: 0;
    
}
.banner .banner-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between ; 
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;   
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 0px 0px;
}
.banner-text{
    background-color: rgb(198, 228, 214);
}
.banner .banner-box .banner-p {
    color: rgba(14, 14, 14);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6; 
    background-color: rgb(198, 228, 214);
}
.banner .banner-box .banner-h{
    width: 535px;
    height: 265px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 54px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    gap: 16;
    padding: 0px;
    margin: 6px 0px;
    background-color: rgb(198, 228, 214);
}
.banner-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border-radius: 8px;
    text-align: center;
    background-color:rgb(0, 106, 80);;
    gap: 48;
    padding: 17px 34px 17px 34px;
    border: 1px solid rgb(0, 106, 80);
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
    padding: 17px 34px 17px 34px;

}

.banner-btn:hover{
    background-color: #fff;
    color: rgb(41, 0, 106);  
}
.banner .banner-box .banner-image{
width: 474.03px;
height: 329.21px;
left: 157.37%;
right: -157.37%;
top: 20%;
bottom: -2.3%;
background-color: rgb(198, 228, 214);
}
#piller-sec {
    padding: 0px 100px 0px 100px;
    top: 0;
    margin: 80px 0px;
    
}
.piller {
    width: 87.5%;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
}
.piller-h{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 8px;
    text-align: left;
    margin: 32px 0px;
    width: 1280px;
    height: 48px;
}
.piller-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:26px;
    flex-wrap: wrap;
    width: 1280px;
    height: 244px;
    margin: 80px 0px;
}
.piller-card{
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    width: 220px;
    height: 300px;
    
}
.light{
 width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}
.planet{
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}
.infrastructure{
    width: 49.66px;
    height: 53.09px;
    left: 13.34px;
    top: 1px;   
}
.empowerment{
    width: 49.66px;
    height: 53.09px;
    left: 13.34px;
    top: 1px; 
}
.piller-cardss{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px; 
    background: rgb(255, 255, 255);
    display: flex;
    gap:20px;
    justify-content: space-between;
    flex-direction: row;
    padding: 24px;
}

.piller-card h4{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    }

.piller-card p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
                
    }
.Future-Vision{
    padding: 30px 100px 30px 100px;
    top: 0;
    margin: 6px 0px;
    gap: 80px;
}
.vision-header-h1{
   color: rgb(14, 14, 14);
   font-family: Fira Sans;
   font-size: 40px;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: 0%;
   text-align: left;
   margin: 32px 0px;
   gap: 32;
   width: 1280px;
   height: 48px;
 }        
.vision-header p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
gap: 32;
 }   
 .vision-card-content{
    display: flex;
    gap:20px;
    margin: 80px 0px;
    
 }
 .vision-card-1{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
 }
.digital-transformation{
    width: 49.66px;
    height: 53.09px;
    left: 13.34px;
    top: 1px; 
 }
 .green-energy{
   
    width: 49.66px;
    height: 53.09px;
    left: 13.34px;
    top: 1px;  
 }
 .modern-infrustructure{

    width: 49.66px;
    height: 53.09px;
    left: 13.34px;
    top: 1px;  
 }
 .vision-card-2{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
 }
 .vision-card-3{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
 }
 .vision-card-content h4{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
 }
 .vision-card-content p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0px;
 }
 .btn1{
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 10px 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(84, 144, 245);
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    
}
.btn1:hover {
    background-color: rgb(212, 206, 207);
    color: #161817;

}
 .btn2{
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 10px 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(9, 161, 92);
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    
}   
.btn2:hover {
    background-color: rgb(212, 206, 207);
    color: #161817;

}
.btn3{
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 10px 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgb(255, 194, 57);
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid rgb(255, 194, 57);
}
.btn3:hover {
    background-color: rgb(212, 206, 207);
    color: #161817;

}
.quota{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    gap: 24;
    padding: 48px 24px 48px 24px;
    background: rgb(255, 255, 255);
    margin: 0px 0px;    
    box-shadow: 0px 6px 50px 0px rgba(141, 162, 169, 0.15); 
}
.quota-content{
 
    background-image:  url(./images/assets/quote-bg.png);
    background-repeat: no-repeat;
    margin: 24px 0px;
    width: 1232px;
    height: 160px;
    padding: 12px 2px;

}
.quota-content p{
    color: rgba(14, 14, 14, 0.8);
    width: 1232px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
} 
.quota h4{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}   
.quota p{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.opinion{
    padding: 0px 100px 0px 100px;
    top: 0;
    margin: 80px 0px;
   
}

.opinion-head h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;

}
.opinion-card-content{
    padding: 24px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;    
    box-shadow: 0px 6px 50px 0px rgba(141, 162, 169, 0.15); 
    gap: 24;
    padding: 32px;
}
.opinion-card-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:24;
    padding: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    width: 1216px;
    height: 72px;
    margin: -1px 0px;
}
.opinion-card-h h4{
    box-sizing: border-box; 
    background: rgb(198, 228, 214);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;   
    margin: 24px 0px;
}
.opinion-card{
    display: flex;
    align-items: center;     
}
.pps{
    width: 230px;
}
.opinion-card-p{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(14, 14, 14, 0.15);
    box-sizing: border-box;
    width: 1017px;
    height: 92px;
    margin: 0px -1px;
    align-items: center;
    gap: 12;
}
.opinion-card p{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left; 
    width: 969px;
    height: 19px;
    padding: 24px;
    
}
.opinion-card-button{
    box-sizing: border-box; 
    border-radius: 8px;
    width: 200px;
    height: 92px;
    align-items: center;
    border-radius: 4px;
    gap: 12;
    padding: 10px 14px 10px 14px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);  
}  
.opinion-card-button button{
    background: rgb(198, 228, 214);
    width: 152px;
    height: 44px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 8px;
    width: 152px;
    height: 44px;
    align-items: center;
    padding: 10px 14px 10px 14px;
}
.yes:hover {
    background: rgb(234, 239, 237);
    color: #161817;
}
.News-Card{
    width: 1280px;
    height: 1254px; 
    padding: 48px;
    gap: 80;
    margin: 0px 32px;
    overflow: hidden;
}
.whole-card{
    width: 1280px;
    height: 1254px;
    margin: 32px 0px;
}
.news-card-head{
    gap: 24;
    padding: 0px;
    
}
.news-card-head h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.news-card-head p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;   
}
.news-card-content{
    width: 1280px;
    height: 1254px;
    gap: 24;
    border-radius: 16px;
    background: rgb(255, 255, 255); 
    margin: 32px 0x;
}
.news-card-1{
    display: flex;
    align-items: center;    
    border-radius: 24px;
    background: rgb(255, 255, 255);
    gap: 12;
    padding: 48px;   
    background: rgb(255, 255, 255);
    width: 1280px;
    height: 402px;
    box-shadow: 0px 6px 50px 0px rgba(141, 162, 169, 0.15);
}
.img-news{
    width: 408px;
    height: 326px;
    margin: 32px 0px;
    border-radius: 16px;
    object-fit: cover;
    padding: 32px;
   
}
.sat{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.yunus{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news-content{
    margin: 0;
    gap: 24;
    padding: 0 32px;
}
.news-content h1{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
}
.news-img-icon{
    width: 134px;
    height: 40px;
    margin: 12px 0px;
}
.date{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;  
    width: 744px;
    height: 24px;
    gap: 12;
}
.date-p{
    margin: 0px 12px;
    width: 122px;
    height: 24px;
    text-align: left;
}
.time-p{
    width: 105px;
    height: 24px;
}
.news-para{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 744px;
    height: 72px;
}

.n-btn{
    width: 139px;
    height: 48px;
    color: rgb(255, 255, 255);
    padding: 13px 26px 13px 26px;   
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left; 
    background-color: rgb(0, 106, 80);   
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 32px 0px;
}
.n-btn:hover {
    background-color: rgb(212, 206, 207);
    color: #161817;
}
.news-card-2{
    display: flex;
    align-items: center;    
    border-radius: 24px;
    background: rgb(255, 255, 255);
    gap: 32;
    padding: 48px;
    margin: 52px 0px;
    background: rgb(255, 255, 255);
    width: 1280px;
    height: 402px;
    box-shadow: 0px 6px 50px 0px rgba(141, 162, 169, 0.15);
}

.donate-sec{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 100px;
 
    overflow: hidden;
}
.full-donate{
    width: 1320px;
    height: 494px;
    background: rgb(247, 247, 247);
  
}
.donate-head{
    gap: 24;
    padding: 0px;
}
.donate-head h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
gap: 24;
}
.donate-head p{
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 32px 152px 32px 102px;
}
.donate-card{
width: 1071px;
height: 128px;
display: flex;
flex-direction: row;
gap: 24;
justify-content: flex-start;
align-items: center;
margin: 32px 152px 32px 102px;
}
.d-card{
width: 240px;
height: 139px;
gap: 24;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 40px;
margin: 0px 24px;
background: rgb(255, 255, 255);
}
.d-card h6{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin: 12px 0px;
}
.d-card-2{
    width: 240px;
    height: 139px;
    gap: 24;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin: 0px 24px;
    background: rgb(91, 166, 131);
    }
    .d-card-2 h6{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin: 12px 0px;
 }
.d-card:hover
{
    background: rgb(198, 228, 214);
    color: #161817;
}
.d-card-2:hover
{
    background: rgb(198, 228, 214);
    color: #161817;
}

.input-field{
    box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
gap: 24;
padding: 20px 40px 20px 40px;
margin: 32px 122px;
width: 1032px;
height: 64px;
align-items: center;
text-align: center;
}
.text-in{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

.donate-btn{
    margin: 0px 555px;
    
    padding: 10px 20px; 
    font-size: 18px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;   
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: 1px solid rgb(0, 106, 80);
    cursor: pointer;
    transition: all 0.3s;
    background: rgb(0, 106, 80);
    
    text-align: center;
}
.donate-btn:hover {
    background: rgb(198, 228, 214);
    color: #161817;
}

.newsletter {
    padding: 60px 100px;
  }
 
  .newsletter-card-container {
    display: flex;
    flex-direction: column;
    background-color:rgb(198, 228, 214);
  }
 
  .news-letter-head h1{
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 16;
   padding: 0px;
  }
  .news-letter-head p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .newsletter-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 0px;
    border-radius: 24px;
    gap: 24;
    padding: 80px 90px 80px 90px;
  }
  .newsletter-card form {
    display: flex;
    justify-content: center;
  }
  .newsletter-card input {
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    gap: 24;
    padding: 18px 40px 18px 40px;
    width: 60%;
    border: none;
   
    color: rgba(14, 14, 14, 0.3);
   font-family: Fira Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0%;
   text-align: left;
   
   
  }
.newsletter-card button {
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    border: none;
    width: 150px;
    height: 56px;

    color: rgb(255, 255, 255);
   font-family: Fira Sans;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: center;
  }
.newsletter-card-container p{
 color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
  }